body{
  font-family: 'Barlow Condensed', sans-serif;
}
.name{
  color: orange;
}
h1{
  font-size: 50px;
}
section{
  display: flex;
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.half-width{
  width: 50%;
  padding: 2%;
}
.half-width img{
  width: 80%;
}
.link-button{
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 7px;
  font-size: 20px;
  color: white;
  font-weight: 600;
  background-image: linear-gradient(orange, tomato);
}